.containr-btnStart {
  align-content: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 10;
}

.btnStart {
  align-items: center;
  background: #fcc436;
  border-radius: 5px;
  bottom: 0;
  color: white;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  letter-spacing: 0.03em;
  position: fixed;
  text-transform: uppercase;
  width: 336px;
  z-index: 10;
}
