* {
  font-family: Poppins , sans-serif;
}

.container {
  margin: 0;
  margin-bottom: 5vh;
  padding: 0;
}

.recipe-photo {
  border-radius: 10px;
  filter: brightness(65%);
  height: 200px;
  margin-bottom: 20px;
  object-fit: cover;
  width: 100%;
}

.recipe-title {
  align-items: center;
  color: white;
  display: flex;
  font-size: 30px;
  font-weight: 900;
  height: 21px;
  left: 30vw;
  letter-spacing: 0.105em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 15vh;
  width: 147px;
}

.recipe-category {
  color: #fcc436;
  font-size: 0.9em;
  font-weight: 900;
  height: 33px;
  left: 17.01px;
  position: absolute;
  top: 14px;
  width: 150px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-left: 20px;
}

h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.ingredients ul {
  border: rgba(128, 128, 128, 0.459) 1px solid;
  border-radius: 10px;
  margin-right: 5vw;
  padding-bottom: 2vh;
  padding-left: 10vw;
  padding-top: 3vh;
}

.ingredients li {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  list-style: square;
  margin-bottom: 10px;
}

.instructions {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: justify;
}

.instructions h4 {
  align-self: flex-start;
  padding-left: 20px;
}

.instructions p {
  border: rgba(128, 128, 128, 0.459) 1px solid;
  border-radius: 10px;
  color: #1a1b1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 4vh;
  padding: 4vw;
  width: 90%;
}

.video {
  align-content: center;
  display: flex;
  justify-content: center;
}

.slider-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  width: 95%;
}

.item {
  align-items: center;
  background-color: white;
  border: rgba(128, 128, 128, 0.459) 1px solid;
  border-radius: 10px;
  display: flex;
  height: 33vh;
  justify-content: space-between;
  margin-bottom: 7vh;
  margin-top: 10px;
}

.item img {
  height: 146.21px;
  width: 153.33px;
}

.item h1 {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
}

.alert {
  align-content: center;
  background-color: #fcc436;
  border: none;
  border-radius: 10px;
  color: white;
  display: flex;
  font-weight: 900;
  height: 30px;
  justify-content: center;
  left: 60vw;
  position: absolute;
  top: 50px;
  width: 120px;
}
