* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-inprogress {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.primeiro-setor-foto {
  filter: brightness(65%);
  height: 161.85px;
  position: relative;
  width: 100vw;
}

.scratched {
  text-decoration: line-through solid black;
}

.img-principal {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.recipe-title-progress {
  color: white;
  font-size: 30px;
  font-weight: 900;
  left: 50%;
  letter-spacing: 0.105em;
  line-height: 20px;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
}

.category-in-progress {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 18px;
  position: absolute;
  top: 14px;
  width: 50px;
}

.category-in-progress img {
  height: 25px;
  width: 25px;
}

.category-in-progress span {
  color: #fcc436;
  font-size: 18px;
  font-weight: 700;
  height: 20px;
  line-height: 20px;
  margin-left: 15px;
  text-align: center;
  width: 20px;
}

.botoes-in-progress {
  display: flex;
  position: absolute;
  right: 5vw;
  top: 14px;
}

.botoes-in-progress button {
  appearance: none;
  background: none;
  border: none;
  margin-left: 15px;
  padding: 1vw;
}

.ingredients-in-progress {
  border: 0.554px solid #b1b1b1;
  border-radius: 5.351px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 14px;
  margin: 10px;
  min-height: 133px;
  padding: 15px;
  width: 335px;
}

.itens-in-progress {
  padding: 5px 0;
}

.itens-in-progress input {
  margin-right: 5px;
}

.title-inprogress {
  font-size: 20px;
  font-weight: 700;
  left: -100px;
  line-height: 20px;
  padding: 3vh 0;
  position: relative;
}

.finish-button-inprogress {
  background-color: #fcc436;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.03em;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  width: 336px;
}

.finish-button-inprogress:disabled {
  background-color: gray;
  border: none;
}
